/* overrides to common styles for colour story */
@const COLOR_ACCENT1 : $COLOR_ACCENT10;

GalleryPluginFacerecognitionResetterWidget MButtonStyle:selected {
    background-image : "color10-meegotouch-button-inverted-background-selected" $CORNER_MARGINS;
}

GalleryPluginFacerecognitionResetterWidget MButtonStyle:pressed {
    background-image : "color10-meegotouch-button-inverted-background-pressed" $CORNER_MARGINS;
}

GalleryPluginFacerecognitionResetterWidget MSeparatorStyle#CommonHeaderDividerInverted {
    background-image: meegotouch-groupheader-inverted-background 0px 0px 0px 0px;
    span:           0.2mm;
    margin-top:     $PADDING_DOUBLE;
    margin-bottom:  0;
    margin-left:    $INDENT_DEFAULT;
    margin-right:   $INDENT_DEFAULT;
}

GalleryPluginFacerecognitionResetterAboutWidget MLabelStyle#FacerecognitionResetterAboutDisclaimer {
    font: $FONT_FAMILY normal 14;
    margin-top: $PADDING_LARGE;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $PADDING_LARGE;
    color: $COLOR_BUTTON_DISABLED_FOREGROUND;
    highlight-color: $COLOR_ACCENT10;
}

GalleryPluginFacerecognitionResetterAboutWidget MLabelStyle#FacerecognitionResetterAboutLink {
    font: $FONT_FAMILY normal 14;
    margin-top: $PADDING_LARGE;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: $PADDING_LARGE;
    color: $COLOR_BUTTON_DISABLED_FOREGROUND;
    highlight-color: $COLOR_ACCENT10;
}
