Source: gallery-plugin-facerecognition-resetter
Section: graphics
Priority: extra
Maintainer: Andres Gomez <agomez@igalia.com>
Build-Depends: debhelper (>= 7.0.50),
               libgallerycore-dev (>= 1.110519.2)
Standards-Version: 3.9.1

Package: gallery-plugin-facerecognition-resetter
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Dummy Gallery plugin to reset the facerecognition database
XB-Maemo-Flags: visible
XB-Maemo-Display-Name: Gallery Facerecognition Resetter plugin
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAALEwAACxMBAJqcGAAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAABNlSURBVHiczZt7cF3Ffcc/u+ece+5Lunpa
 D8u2bF9LthEITDAZmgeYEJIUkkJLUpIBEpLYEJpHaTtTJtO4TJtJm5I0kzQJ
 MBMyhpkwpdPQFkNKCBCgccAZjGUbGxm/JL9kWa8rXd1zz2u3f1zpWtfS1cN2
 IN87O7LP2bNnf9/9/X7729/ZFVpr3kn8R8feCJGalJJ+JahU4arMSGWN4g1l
 btmz1nsn+yMuJAH3C2TbumMd0gzXA+uE5GId0qyVjqNETCkdR2HpECYLgDDO
 FCS+lCKH1I6QIicMTmjFbmCHCozt+3e07NmsUReqz+dNwOOXH9wgTeMOLehU
 edr8nI4FOU0wXiiTQp5zBw0wE6JQ4gIrLhwZZb/QdKkg3HLr6ytfOK/2z4WA
 xzoPLjJsuQmhb3cHddrpLwj7TsJMCGKLBHatOIAWj4aueui2rpX9C21nQQT8
 pHNfRzRqfyvIqeucfmW7Qxp9wZTx3CAk2DWC2CLpmnH5XD7v3vf5rjV75v38
 fAnYsv7tjdrju6MHVCJw3tnRni/MmKAyLcdFhHvv2L7q4fk8MycBj3WeSig7
 84g7qD+Z7VXv+ojPBSEhuVRi14onpJu687auhvFZ689GwE/XHVirZfDf2R6d
 dod+P6OuCAlwsYghEBesXbtGkFwmDghlfuJzO9J7y9UrS8BjnbsSnmXtHN6n
 0mH+gvULAI1Go/DI4ZFDYmFiYhLDxDrv9j0cLKKYUUH1Gnkg4vuX3tZ1yYya
 YJZrJG+Zj4z1hGk/fz4jr/Fx8RgnxEcgCQgI8fFxyEZPE09G8cYUvhtiE8Mm
 QYJqYlRiYCGQC3pjnnHGGSRFEzpvkenR6Ypl5iPAp2aqP6MGPHz53o35kfCh
 sSPzE15TqDdVhQM8HMbwyBLGHFg6zIqLVpJsiGElJaHhoggwTYua+hrMiEVu
 1GF8MEffm6MM7nLwjppESRIhQYQozGEiecYZ5hghLvWsxCYBQEWrIFplbNr4
 +tppjnEaAd/v3NVhaPHqyD6VmI/DO6PKeQxMIsTxyJFlCLPOp/69Fun3LuWV
 wz9jTWoDPSO7yZhH0WdFSGYYJ6ZqqLDqWbNiHdWLqhkfdjj+xiAHnxlGDEdJ
 UIOFPSMRPnkG6KH9UzV0/edh6oMVJKkrCCmhao0cD4V+71e6LimZIqcR8MPL
 dz2V2a9uCHJzCw8FJ+ZO2HKOYfJkqGtLsebDLTSuqeWF15/AtQcgtNDGPMN8
 LakP1rLukj8ilogR+iHdLx7n0NNDWNkUMapKfEVAnmFO0vaZStZsWMbT/7QN
 9XY1NbQUtdKMQ6pNbr3n9UtuLEvAg53bFuX9eO9It7Ln11Mm3FnIOIOMyVNc
 dEsTHR9eCUD/yVPsPvoSOevUfJsrgfAsLmu8gcXLWgDwHJ+uJw9z7HmHFPUY
 RAgJyDLAqs9UsmbDUgBee7KLY1t96liOMYWoqnbpRq3c0ru6ripGjCVO0BOx
 TbkBZSvm7/hCfMYZwK8a5oN3r6ExXQtAbnycnSd/QRhzMKe8RkqJbdvYto1h
 GBiGQRiGBEFAEATk83nCcMI8TM3u/l+Rqv4zkpVJIjGLKz7dRnXrMXY+ehTT
 ryDEYc2tdUXhARrbazm49TA+LmLKu3MDypbNsU3AP8xIQCj07c7w/MUP8Bjj
 FIk1PtduvIxYZbR4b3v3/0LUw8AAIBqNUlFRQSwWm7VNrTXZbJZMJoNSChIe
 v9v7S66+8iaEKKhz+qoWKpsS/PqHu1n7kRbWfmhZSRvNKxvw5T7yysEkXrzu
 DGtii+XtUwkomsADHds3eFnxfPbo/MRX+IzST2pdyIa7OxHyjGPKjAzzev+T
 xf9XVVVRXV09o7Dl4HkeJ06cKNa5rOYmauprSuoEXoAZmXkm/69vvow6VEWK
 xSWzU3KJIJLU1/71nvUvwBQN0BZ35AbVvBbaGsUYg4jmLO//wntKhAc4dfoE
 hmGUCBOJRObR8hnYtk1TUxP9/QVzHRjsn0ZAOeEB6torOHrIIcRHTvEDuUGN
 VS3uAF4AzkQZSutOL6eY+xeSZRAnPsg1X+4gYk+P3DK5AUzTLJZJ+560/Un7
 932f8fFxlFIl9yZLXV0dpmliGAZj+dMLIrC5vZY8OTzckt57OYXSurNIIhQy
 OeZq1TYf6/fIMcYAH9iYpmpRRZk62RINABgdHaWqqorR0VGGhoZwHKfkfjwe
 p7W1dVpbyWQSx3HwzLG5pZ6CxekGQrkXVzmYlPqdwFVt9wvkZo0yAaz2Vzry
 eRGbK3mjUWQZpOYSk9aLm8rWk8KYRkA+n+fQoUMEQQAw7b7ruoRhOM1JJhIJ
 PM8jXOA6yY7ZVCyJ4PbkiJJiavDk5olF21/pgPfvMgF8k/XeyNyJNpdxcmKE
 626+BKGCsvVMbWGaM9tnuetQICUSiUxzjoZhUF+1ZNZ3zoSGtgSHenIkzvID
 ngNGgvVAgQCEWuc5zEqARjHOMEvXJ2hoSoLyZ6znuR6DgwM0L5l9ujsblmWR
 SqWQsnTxE4Yhy5IXUR9ZOvHO+avC4lVVdD93FB8PiylO2YGYYB1M+ACFvtjP
 z06ASw6HDOs/uhY5y0hsfeJ5dJ2Hac7sH6ZicqSllLS1tWHbpQHo6OgoDWIZ
 dWYzLHD0AVpX1hKI/Xg6h8GZGGVC1othgoAA1RzM0X6eDLGGgPr6WNnR736r
 h7deG+T6bzRNs/FysG2bdDo9zfaVUgTHJfWyruz75kI8Kkk1m+SPO9iETGqP
 CiCAZpjUAKXjc6m/S47VF0URs3Tm5Wd30/7BWiprS4UpF/DE43Ha29uxLGta
 /f6dg1T5lcDCR34qmtI2B4/nCAiRU8xAqUKIaAKEYRhXs9iWTx6PHOmLmsqq
 /7HjAxzf71N/WTiv0bdtm46OjmlOMQgCet46QtyNgXKRC0yInI1lK5Pse2kA
 nzzWlOkwDPUUArSOhbPEAC7jBIbDitaqshpwoPsEJnHCUM+LgNWrVxONRkuu
 ua5Ld3c3juswEssgENihRTyMEgttIq6FNU/TmsSKFSlccRRP55Gc8TGhLrBh
 3t+xNxKGyppdAxyiFRqDoIynFAycyiEwUP7sUx0U5vaz1wb5fJ59+/bh+34J
 gb4RkmGcDOO89vIBel8boC3dQHu6iVXLm7Ajs+cQkzGD6gaB2zdOhAom/UAY
 auv+jr0Rc9DtSelQoXQ5AjQBPsmKcFbvP3DKQeoYJ7ozc2pAKpWaRtLx48fR
 Ws9K3kB3SLanhu09GV55/gShkadlSYK2dD2rVzaSbm0kYk1/vmW5xb6TeQKC
 oh8IQ82g25Mywa0MQ7PsFFhId4QkKsSsDnCoP0Rgcbo7xHNC4hWlU9pURxiN
 RmeMBGcjznMD+vaGxKgnyWICHILQZfRInt8cGePFX/WB6dCyNM7qlYtYs7KB
 9NJFmKbB8uVRdm9zCHCLYXEYakzTrTRdzBRKUc4ENIoAn1hMn0XAmfo5x2c8
 CwksTBXl7R2nWLdheVlhgiAgm82WXBNCTBv9qaQd2d2H8G1MEsQoJF1CXALc
 Ahl4hEGOoUN5Xjo0ynPPnQTToXVZJcsa6vCJ4eIU/UCoNCFmygQPhTGrBmgU
 2fF8+VBU+QhhIHUEgzi/fvQwLatqaGqtmbH68PAww8PD066X04DTJzL88idv
 E2EJFsmiEBIbi0JuIsAlxMMmj49DiIsKXPoP5jl+cJQoJgF5QkIEEoVG4mGC
 zGhRXgMKGQJBZtRHljGBChvq6gS50xAhhT9ey5bN27j1vitZ2VF+0TSJ2RIj
 vW/387Nvvoox0kCEBCYxpmctDEzimMSJTCzZC8K6E8VHIlBASIDERAsNyIxp
 Y49mZQ5VZr7VgEYwNqZnXYwsaRG8dTogSg0hPmoMHtu8na/++FrqmlLT6ksp
 iUajCCFwHKeQ/joLo8M5fvp324g6TcRZRJQ6NLL4HWJmCAQmFkksEhNkhRMj
 LgCjoNNSESc+atba2cyYD+WXwhqNZCwLyvcwjJk1ZVmLwa43PCwENvWEhIS+
 ZusjO/nC5msLLU2MdGVlJW1tbcUI0Pd9uru7GRsrXfP/YstOIk4jUeqwqAEs
 wgVvDhGAiaAwmJPPa6GotbMZuXnPLZ6S2ldFaz+7gMZAK5P9PQNI5c9Y0otN
 PMYJ8BGY2NQQoYJDv83jZD0MwyhmiNra2oozgWEYRKNR2tvbS7JIOoS9L2Yw
 qcCmGkm0TP/OsUjtb95ziycLbITObEmwwlrapOvtYYQKZixLai1SNXlcMijC
 CQeVxNAJDu/tLwprWRbxeBwpZUmJx+NEIpFivZ79pyFIYJFAEJ1Hqm5hPy1C
 ByZyghpys7EFFgKLrgMeQvkzFql9br7awCWLhzPhOm0EJkKcGf3J9f6koJMF
 zkyFpmmCNhAYSGw0XNjRL3iRXJEAJdWs6VCBicTm1OkIp4bGyprBlW0WrUuy
 OIwQ4hMQoKWm/dKWEmGHhoamacDg4GBJnXRHE8LSBAQXfPQVCiXVGQK0Vicw
 ZmNLYBHDIMrPt/WXNQOhAu6+URBLDpEng0eWKz/eRO2iyuLIGobBiRMn6O3t
 ZXh4mJGREXp7ezl58mQJARWpOB+4ZSnehEb5E3P4hRh9DF2QuagBWu0Wdjgr
 Y4IoJgl+swdODI6VNYWauOKeT7j45gAiMcaf3H1xiWCTJIyMjHD06FF6e3sZ
 GRkpcZKT5RObOonWeuToxzVOk2e4MMWe50/YIUqr3UUC/FDskBE1O2tEkMSR
 qoqf/d8gUgVlS3sDfP1TWe79zqXUNlROs/f5lopUnK/+6CpWp7N8+/MDpFv7
 yHGaAO+8NEBGFH4odsBkSiz0thMxZokFCjBIYhDn1W6bNztH6Wgun/hM1wMH
 tqFiY6jOTphjiTwjHIe2kYP87Y0OQmv+6kafB7b67DusiFBTkuldECKKIAy3
 w8S3QSHulze2LM6OHDfnSOVqPDI4nMSKH+MHt1ZSl5iHYMkk+r1XoVe1za+D
 nod4Ywdi1044K1nph/DA0za7j9QTpQZxDiRULQ6cp44dT2q9WRU/jn58+cM7
 h3rMzjmeRROQ5zQO/SxpOMn3bq7BKhMdTkNNLTQ1I+rqoX4R1NVDJAKZDHp4
 EIaHYXgIDuyHfPmdWYGCf34mxq4jDUSpLvkEPq9uLAu6/ufwxkth6sdRRJdh
 687AnUsYE5MUJnl6Tnn86LcZ/vKq+BzPTGCgr1CmQkpQs+WjpiMCfP1jAd95
 UfLaPj0RKc5PE0xboxFdxddP/kP44RY7OXecrVEoAuyIzae/9EHu3vL3GNd9
 FORktL3AosJzes5IJvjaD27k5i8vJ7BP4TGCnkcG2U4qhB9uKco9dSl6w7KH
 3x45ZqbLrU5DXHwypK+Ic+8D17A0XVe8p44cwvv54+izPnr+PiAXL8H601sR
 ycLHl2OHh/je3/yat14dJUI1BjPv8BECqlqCA1t7Nq4qtjW1gtI8GknMrAUh
 eTwG+Ow3OvjBU3/OitWNJXN2JN1G/ItfRjY2XzBBZ4K17grin92EVVVdfHfr
 qkX865O38MV/vAyPQULcGZ+NJBRK8+jUayUacH3jg4uEFL1jfVYJhQXH189N
 96zinvuvm72HWuPteoP8C8+ihofOVc5pMFe2Ef3QRzCaW2at98i/vMTj395H
 lLppM0RFo+9qpZc+23dXcZPUtG1yf7zswafGTlk3hN4Zt+Qxwor3SB765eeQ
 Z+0GKZvNCUPyv/st+W0vEw4OzEvIaRACa3ma2LUfxmpdOe12uXd/7abHefMl
 hwhVxWtGRFPR4G99uueukm1y0+aPwOW+eI13TfaUndB6Mik+xhUfWos1Q8q5
 LEyT5PuuJvm+qwlO9+Pt24P71pv4PUfQQfnssojFsdtWE1l9EZH2Nch4Yv7v
 nMD66xbzxks7sEhOrEYhXuONB664b1o3z77wbN9dez7W/ON7o9X+Q86QRYhH
 QJ6L1y+d9wfPs2E0NmE3NlFxTcF8lJNDZTKEYxm06yKTFchkBUZFBcKOztjG
 Qg52rL28hZBtBOSxSBKt9pFw7zN9d007SFF2t/hHl/7o350h65O53Dg5TlLV
 Oophn9+HynPHwraHhJ7B8OEkcRaTiCeI1fhP/KL3SzNuli6r08qruDNaNbbO
 8XSaAIaOxChQpRfcoXcDBhJpaqJV/gHlVdxZrt6sByY+1vTQ2jxDW52MWB7k
 z0393y2Y0ZBYpT4cFTU3PHNy08IPTEzi+sbHEsIcfcTPGZ/MZyLwh3lc6AwE
 RFMeVjx8QgeVdz7bd9u5H5mZiusbf7hRab6bH7YTKji/b/a/L0hTEa12x6Xg
 3mf77rkwh6am4prG73dEDPmt0BfX+eOWHeTNd18jBJjRACvhu4aln/NCdd+L
 fV+58MfmpuL6xgcXaR1sQurbg7yZ9nMWyn9ntUJaCivuY0aDAyjxqBDmQ1Mj
 vPnivI/OXt/4bxuU1HcI6AwD0aZ9GVOBRPkGypfosvsO5tlBoZGWQloh0lQI
 SzmGqfdr6JJKbHm27y/e+aOzZRsT98trF1V1SCXWhybrpNAXa0Wz1jIutIhp
 reNoYWktQFMkRwgNYvKv9oUQOS20I4TKCckJpcVuI2CHknr78/0je7Te/Idz
 eHqh6BD3R5Y2RlKoZKWrwhSALY0MMjva2+dl9ujN7+jx+f8HpvCDW+9S6CwA
 AAAASUVORK5CYII=

Package: gallery-plugin-facerecognition-resetter-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
         gallery-plugin-facerecognition-resetter (= ${binary:Version})
Description: Dummy Gallery plugin to reset the facerecognition database
 This package contains the debug symbols.
